* :disabled {
    -fx-opacity: 1;
}

.root {
    -fx-font-family: "Roboto Light";
}

.button {
    -fx-background-color: white;
    -fx-background-radius: 5;
}

.island .label {
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.board .label {
    -fx-font-weight: bold;
    -fx-font-size: 15;
}

.shadow, .student, .professor, .button {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.card {
}

.entrancehall {

}

.lunchhall {

}

.island {
}

.clickable {
    -fx-cursor: pointer;
}

.cloud .clickable {
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 15, 0.4, 0, 0);
}

.entrancehall .clickable {
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 10, 0.8, 0, 0);
}

.lunchhall .clickable {
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 5, 0.7, 0, 0);
}

.island.clickable {
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 30, 0.6, 0, 0);
}

.card.clickable {
    -fx-effect: dropshadow(gaussian, rgba(150, 0, 255, 0.5), 40, 0.6, 0, 0);
}