* :disabled {
    -fx-opacity: 1;
}

.text {
    -fx-font-smoothing-type: gray;
}

.root {
    -fx-font-family: "Roboto Light";
    -fx-background-color: #80b5ff;
}

.button {
    -fx-background-color: white;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.island .label {
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-padding: 0 3;
}

.card .label {
    -fx-background-radius: 10;
    -fx-font-weight: bold;
    -fx-font-size: 10;
    -fx-padding: 0 3;
}

.nickname {
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-border-color: #333;
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-border-radius: 0 0 0 5;
    -fx-background-radius: 0 0 0 5;
}

.shadow, .student, .professor, .button, .coin {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.board .coins {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-border-color: black;
    -fx-border-width: 1 1 0 1;
    -fx-border-radius: 5 5 0 0;
    -fx-background-radius: 5 5 0 0;
    -fx-padding: 5;
}

.board .coins .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 0 5;
    -fx-font-size: 14;
}

.card {
}

.entrancehall {

}

.lunchhall {

}

.island {
    -fx-scale-x: 0.8;
    -fx-scale-y: 0.8;
}

.clickable {
    -fx-cursor: hand;
}

.cloud.clickable {
    -fx-effect: dropshadow(gaussian, rgb(50, 100, 255), 20, 0.75, 0, 0);
}

.entrancehall .clickable, .lunchhall .clickable, .colorbox .clickable {
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 10, 0.8, 0, 0);
}

.lunchhall.clickable {
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 5, 0.7, 0, 0);
}

.island.clickable {
    -fx-effect: dropshadow(gaussian, rgb(255, 255, 255), 30, 0.6, 0, 0);
}

.board .card.clickable {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 30, 0.8, 0, 0);
}

.card .clickable {
    -fx-effect: dropshadow(gaussian, rgba(0, 255, 255, 0.85), 15, 0.7, 0, 0);
}

#assistantCardsBox .card.clickable {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.8, 0, 0);
}

#nickName, #selectMatch, #connect {
    -fx-background-color: rgba(0, 0, 0, 0.25);
    -fx-background-radius: 10;
    -fx-padding: 25 10 0 10;
}

#nickName, #connect {
    -fx-padding: 20;
}

#nickName .label, #connect .label {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

#selectMatch {
    -fx-hgap: 10;
    -fx-vgap: 10;
}

#selectMatch .label {
    -fx-font-size: 15;
}

#selectMatch .radio-button {
    -fx-font-size: 12;
    -fx-padding: 3;
}

#selectMatch .radio-button, #selectMatch .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.chat {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

#chatButton {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-text-fill: white;
    -fx-background-radius: 5 5 0 0;
    -fx-font-size: 17;
    -fx-padding: 10 50;
}

#quitButton {
    -fx-background-color: #d00;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15;
    -fx-padding: 5 15;
}

#assistantCardsBox {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-background-radius: 5;
    -fx-padding: 20;
}

#coinsBox .label {
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-font-weight: bold;
    -fx-padding: 0 10;
}